@model List<bakkalamca.Models.stok>
@{
    ViewBag.Title = "Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding:10px;">
    <a href="/Stok/StokEkle" class="btn btn-sm btn-success pull-right"> Ekle</a>
</div>
<div class="row">
    <div class="table-responsive" style="padding: 10px;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Stok ID</th>
                    <th>Adet</th>
                    <th>Giris Tarihi</th>
                    <th>Bitis Tarihi</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.stok_id</td>
                            <td>@item.s_adedi</td>
                            <td>@item.s_giris_tarihi</td>
                            <td>@item.s_bitis_tarihi</td>
                            <td>
                                <a href="/Stok/StokSil/?id=@item.stok_id" class="btn btn-sm btn-danger">Sil</a>
                                <a href="/Stok/StokEkle/?id=@item.stok_id" class="btn btn-sm btn-warning">Güncelle</a>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Kayıt bulunamadı</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

